
.tabs_rate_pc {
  display: none;
}

.wztabs_a {
  line-height: 20px;
  color: $color333;
}

.tabs_four_copy {
  line-height: 24px;
  font-size: $fs13;
  width: 65px;
  text-align: center;
  background: $colorfff;
  border-radius: 4px;
  color: $color909399;
  border: 1px solid $colorf0f0f0;
  position: absolute;
  right: 0;
  bottom: 3px;
  cursor: pointer;
}
.tabs_four_copy:hover{
   color: $color409eff;
  border: 1px solid $color409eff;
}
.tabs_five {
  display: flex;
  border-top: 2px solid $colorfff;
  flex-wrap: wrap;
}

.tabs_biaoge_all {
  box-sizing: border-box;
  width: 33.333333%;
  padding: 0px 0;
  text-align: center;
  border-bottom: 2px solid $colorfff;
}




.tabs_five .tabs_five_a {
  padding: 12px 0;
  border-right: 2px solid $colorfff;
}

.tabs_five_arate {
  display: inline-block;
  color: $colorff5c61;
  font-size: $fs12;
  transform: scale(0.9);
  line-height: 14px;
}

.tabs_five .tabs_five_b {
  font-size: $fs14;
  line-height: 17px;
  padding:12px 0;
}

.tabs_details {
  padding: 12px 15px;
}

.tabs_five .tabs_five_a h3 {
  line-height: 15px;
  font-size: $fs15;
  font-weight: bold;
}

.tabs_five .tabs_five_a p {
  color: $color333;
  margin-top: $mar8;
  line-height: 13px;
  font-size: $fs13;
}
.tabs_six_a img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: sub;
  margin-right: 5px;
}

.tabs_six_a {
  font-size: $fs13;
  padding: 12px 0 8px 0;
  line-height: 16px;
  font-weight: bold;
}
.tabs_six_color_a {
  background:$colorfafbfb;
}
.tabs_six_color_b {
  background:$colorfff5f6;
}
.tabs_six_color_c {
  background:$colorfff9f5;
}
.tabs_six_color_d {
  background:$colorf2fbf7;
}
.tabs_six_color_e {
  background:$colorf0f9ff;
}
.tabs_six_color_f {
  background:$colorf9dbde;
}
.tabs_four {
  display: flex;
}

.tabs_four .tabs_four_a {
  font-size: $fs14;
  color: $color909399;
  width: 100%;
  line-height: 20px;
}

.wztabs_pc_all {
  flex-wrap: wrap;
}

.wztabs_pc_all>.tabs_four_a {
  width: 50%;
}

.wztabs_pc_all>.tabs_four_a:nth-child(2n+1) {
  text-align: left;
  width:60%;
}
.wztabs_pc_all>.tabs_four_a:nth-child(2n) {
  text-align: right;
  width:40%;
}

.wztabs_pc_all>.tabs_four_a.wztabs_pcdifmoney {
  width: 100%;
  text-align: left;
}

.tabs_four .tabs_four_b {
  display: block;
  min-width: 80px;
  text-align: right;
  font-size: $fs14;
  color: $color409eff;
  line-height: 20px;
}


.tabs_four .tabs_four_d {
  display: block;
  min-width: 80px;
  text-align: right;
  font-size: $fs14;
  color: $colorff5c61;
  line-height: 16px;
}

.usertabsmobile {
  display: flex;
}

.usertabspc {
  display: none;
}

.tabs_thr {
  display: flex;
  position: relative;
}

.tabs_thr h3 {
  font-size: $fs16;
  color: $color333;
  width: 100%;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabs_thr span {
  display: block;
  min-width: 80px;
  text-align: right;
  font-size: $fs13;
  cursor: pointer;
    position: absolute;
    line-height: 26px;
    right: 0;
    top: -3px;
}
.tabs_thr span .tabs_thr_img {
  height: 10px;
    margin-top: 0px;
    display: inline-block;
    width: 12px;
   background: url("../../assets/img/bangdan/qh.png") left center no-repeat;
   background-size: 12px;
}
.tabs_thr span:hover {
color:$color409eff;
}
.tabs_thr span:hover .tabs_thr_img{
  
    background: url("../../assets/img/bangdan/qh1.png") left center no-repeat;
    background-size: 12px;
}
.tabs_four .tabs_four_c , .tabs_thr .tabs_four_c {
  display: block;
  font-size: $fs14;
  min-width: 80px;
  text-align: right;
  color: $colorff5c61;
  line-height: 16px;
  font-weight:bold;
}

span.usertabs_paidan {
  text-align: center;
  min-width: 55px;
  line-height: 22px;
  border-radius: 4px;
  border: 1px solid $colorf0f0f0;
  color: $color409eff;
  position: absolute;
  right: 0;
}

.tabs_info {
  position: relative;
}

.tabs_info_line {
  height: 100%;
  z-index: 1;
  border-left: 2px solid $color409eff;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom:0;
}

.tabs_lists {
  background: $colorfff;
  text-align: left;
}

.tabs_one, .tabs_two {
  display: flex;
  padding: 0 $padd15;
}

.tabs_two {
  cursor: pointer;
  user-select: none;
}

.tabs_one {
  border-bottom: 1px solid $colorf0f0f0;
  margin-bottom: 5px;
}

.tabs_two.act, .tabs_two:hover {
  background: $colorf5f7fa;
}

.tabs_normal {
  font-size: $fs13;
  line-height: 20px;
  padding: 8px 0;
  color: $color909399;
}

.tabs_normal_cont {
  font-size: $fs14;
  line-height: 20px;
  padding: 10px 0;
  color: $color909399;
}

.tabs_la {
  width: 12%;
  text-align: left;
  font-size: $fs13;
}

.tabs_lb {
  width: 38%;
}

.tabs_lc {
  width: 28%;
  
  text-align: right;
}

.tabs_ld {
  width: 22%;
  text-align: right;
}

.tabs_lname {
  color: $color333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabs_lmoney {
  color: $color333;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabs_ld_img {
  width: 15px;
}
@media screen and (max-width: 374px) {
   .tabs_normal{
     font-size:12px;
   }
   .tabs_four .tabs_four_a{
     font-size:12px;
   }
}
@media screen and (min-width: 374px) {
  .rate_huanbi {
   min-width:50px;
   display: inline-block;
   text-align: left;
  }
}

@media screen and (min-width: 850px) {
  .usertabsmobile {
    display: none;
  }

  .usertabspc {
    display: flex;
  }

  .tabs_rate_pc {
    display: block;
  }

  .tabs_rate_mobile {
    display: none;
  }

  .tabs_biaoge_all {
    width: 25%;
  }



  .wztabs_pc_all>.tabs_four_a {
    width: 25%;
  }

.wztabs_pc_all>.tabs_four_a:nth-child(2n) {
  text-align: left;
  width:25%;
}
.wztabs_pc_all>.tabs_four_a:nth-child(2n+1) {
  text-align: left;
  width:25%;
}
  

  .wztabs_pc_all>.tabs_four_a:nth-child(4n) {
    text-align: right;
  }

  .wztabs_pc_all>.tabs_four_a.wztabs_pcdifmoney {
    width: 25%;
  }
}