// 颜色
$color333=#333;
$color000=#000;
$colorfff=#fff;
$color909399=#909399;
$colorff5c61=#ff5c61;
$color409eff=#409eff;
$colorf0f0f0=#f0f0f0;
$colorfb942d=#fb942d;
$colorf2f3f5=#f2f3f5;
$colorb4b9bf=#b4b9bf;
$colorf5f7fa=#f5f7fa;
.rate_red{
    color:$colorff5c61;
}
.rate_green{
    color:#35d07e;
}
.color333{
    color:#333;
}
// 字体
$fs12=12px;
$fs13=13px;
$fs14=14px;
$fs15=15px;
$fs16=16px;

// padd
$padd15=15px;
$padd12=12px;
$padd10=10px;
.paddb3{
    padding-bottom:3px;
}
.padd_b15{
    padding-bottom:15px;
}
.padd_b12{
    padding-bottom:12px;
}
.padd_bt12{
    padding:12px 0;
}
.paddlr5{
    padding:0 5px;
}
//margin

$mar10=10px;
$mar8=8px;
$mar6=6px;

.mart5{
    margin-top:5px;
}
.mart6{
    margin-top:6px;
}
.mart8{
    margin-top:8px;
}
.mart10{
    margin-top:10px;
}
.wrap850{
    max-width: 850px;
    margin: 0px auto;
}
.bgf2f2f5{
    background:#f2f2f5;
}
.border_bf0f0f0{
    border-bottom:1px solid $colorf0f0f0;
}
.border_tf0f0f0{
    border-top:1px solid $colorf0f0f0;
}

.pos {
  position:relative;
}